body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

#tablero {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.celda {
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  flex-direction: column;
}

.celda img {
  width: 20px;
  height: 20px;
  margin: 1px;
}