* {
    color: #fff;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: black;
}

#tablero {
  display: grid;
  grid-gap: 8px;
  justify-content: center;
  margin-top: 20px;
}

.celda {
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;
  text-align: center;
  color: #fff;
  /* background-color: #fff; */
  flex-direction: column;
}

.celda img {
  width: 30px;
  height: 30px;
  margin: 1px;
}